<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
<ol class="breadcrumb semi p-3">
<li class="breadcrumb-item"><a href="{{metadata.url}}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Blogs</li>
</ol>
</nav>