<div class="mobile">
{% include "widget/navbar/mobile/main.njk" %}
<div class="container-fluid">
<div class="row mt-5">
<div class="col-md-12 p-3 docs-article">
{% include "design/blogs/mobile/breadcumb.njk" %}
{% include "design/blogs/mobile/header.njk" %}
{% include "design/blogs/mobile/article.njk" %}
</div>
</div>
</div>
</div>