<div class="mobile">
{% include "widget/navbar/mobile/main.njk" %}
<div class="container-fluid">
<div class="row mt-5">
<div class="col-md-12 p-3 docs-article">
{% include "design/docs/mobile/breadcumb.njk" %}
{% include "widget/table_of_content_mobile.njk" %}
{% include "design/docs/mobile/content.njk" %}
{% include "design/docs/mobile/tag.njk" %}
<div class="mt-3 row">
<p class="col-12 semi text-body-secondary ">
{% include "design/docs/mobile/update_date.njk" %}
{% include "design/docs/mobile/author.njk" %}
</p>
{% include "design/docs/mobile/edit_page.njk" %}
</div>
<!-- cooming soon {% include "design/docs/mobile/pagination.njk" %} -->
</div>
</div>
</div>
</div>
