<div class="col-md-3 p-3" id="doku" data-bs-spy="scroll" data-bs-target="#docu-lists">
{% if image %}<img class="img-fluid mb-3" alt="{{title}}" width="100%" height="100%"
src="{{image}}"/>{% endif %}
<h1>{{title}}</h1>
<h2 class="lead">
{{description}}
</h2>
</div>