<div class="desktop">
{% include "widget/navbar/desktop/main.njk" %}
<div class="container-fluid">
<div class="row docs-page">
{% include "design/blogs/desktop/header.njk" %}
<div class="col-md-7 p-3 docs-article">
{% include "design/blogs/desktop/breadcumb.njk" %}
{% include "design/blogs/desktop/article.njk" %}
{% include "design/blogs/desktop/pagination.njk" %}
</div>
{% include "design/blogs/desktop/tag_cloud.njk" %}
</div>
</div>
</div>