<div class="mobile">
{% include "widget/navbar/mobile/main.njk" %}
<div class="container-fluid">
<div class="row mt-5">
<div class="col-md-12 p-3 docs-article">
{% include "design/docs/list/mobile/breadcumb.njk" %}
{% include "design/docs/list/mobile/content.njk" %}
{% include "design/docs/list/mobile/pagination.njk" %}
</div>
</div>
</div>
</div>
