<div class="desktop">
{% include "widget/navbar/desktop/main.njk" %}
<div class="container-fluid">
<div class="row docs-page">
{% include "design/docs/list/desktop/docs.njk" %}
<div class="col-md-7 p-3 docs-article">
{% include "design/docs/list/desktop/breadcumb.njk" %}
{% include "design/docs/list/desktop/article.njk" %}
{% include "design/docs/list/desktop/pagination.njk" %}
</div>
</div>
</div>
</div>