{% if show_table_of_content %}
<div class="col-md-2 p-3 docs-tocker" id="toci">
<p class="tocs"><strong>On this Page</strong></p>
<div class="small">{{ content | toc| safe }}</div>
</div>
{% endif %}
