<div class="col-md-7 p-3 docs-article">
{% include "design/post/desktop/breadcumb.njk" %}
<h1><strong><a class="text-body-emphasis" href="{{page.url}}">{{title}}</a></strong></h1>
{% if image %}<img src="{{image}}" class="img-fluid mt-3 mb-3" alt="{{title}}"/>{% endif %}
{{content|safe}}
<div class="mt-3 row">
<p class="small text-body-secondary"><i class="bi bi-tags"></i> Tags: 
{%- for tag in tags | filterTagList %}{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl }}" class="small text-body-secondary ms-3">{{tag}}</a> {%- endfor %}
</p>
<p class="col-md-6 semi text-body-secondary ">
<i class="bi bi-calendar2-event" class="me-3"></i> Update At <strong>{{ date | readableDate("dd LLLL yyyy") }}</strong> 
</p>
{% if author %}<p class="col-md-6 semi text-body-secondary text-end"><i class="bi bi-person me-1"></i> Author:  <strong>{{author}}</strong></p>{% endif %}
</div>
{% include "design/post/desktop/pagination.njk" %}
</div>