<div class="desktop">
{% include "widget/navbar/desktop/main.njk" %}
<div class="container-fluid">
<div class="row docs-page">
{% include "design/post/desktop/update_post.njk" %}      
{% include "design/post/desktop/article.njk" %}
{% include "design/post/desktop/right_bar.njk" %}
</div>
</div>
</div>