{% if show_tag_cloud %}
<p class="semi">Tags :</p>
<p class="small">
{% for tag in collections | getKeys | filterTagList %}
{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{tagUrl}}" class="me-3 text-body-secondary">{{tag}}</a>
{% endfor %}
</p>
{% endif %}