<div class="col-md-4">
<a href="{{metadata.url}}" class="navbar-brand"><img src="{{metadata.favicon}}" alt="{{metadata.title}}" class="img-fluid me-1 img-icon-nav"/> <strong>{{metadata.title}}</strong></a>
</div>
