<div class="offcanvas offcanvas-start" tabindex="-1" id="docPage" aria-labelledby="docPageLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="docPageLabel">Documentation</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
{% include "widget/navbar/mobile/search.njk" %}      
{% include "widget/navbar/mobile/docs.njk" %}
</div>
</div>
