<form class="d-flex mb-3" role="search" data-bs-toggle="modal" data-bs-target="#searchModal">
<input class="form-control me-2" type="search" placeholder="🔍     {{metadata.search_widget.nav_title}}" aria-label="Search">
</form>
