<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "widget/seo.njk" %}
<link href="/css/doc.css" rel="stylesheet" />
<link href="/css/main.css" rel="stylesheet" />
</head>
<body>
{% include "widget/icon.njk" %}
{% include "widget/navbar/main.njk" %}
{{ content | safe }}
{% include "widget/footer.njk" %}
{% include "widget/search.njk" %}
<script src="/js/index.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
