<div class="mobile">
{% include "widget/navbar/mobile/main.njk" %}
<div class="container-fluid">
<div class="row mt-5">
<div class="col-md-12 p-3 docs-article">
{% include "design/post/mobile/breadcumb.njk" %}
{% include "design/post/mobile/article_list.njk" %}
{% include "design/post/mobile/article.njk" %}
{% include "design/post/mobile/pagination.njk" %}
</div>
</div>
</div>
</div>